@import play.filters.csrf.CSRF
@import helper._

@(employees: Seq[models.EmployeeModel], employeeForm: Form[models.EmployeeModel])(implicit request: RequestHeader, messages: Messages)

@main("All Employees") {
  <h1>All Employees</h1>
  <table>
    @for(employee <- employees) {
      <tr><td>@employee.first_name @employee.last_name, @employee.position</td></tr>
    }
  </table>

  <h2>Add New Employee</h2>

  @helper.form(action = routes.EmployeeController.submitInsertForm()) {
    @helper.CSRF.formField
    @helper.inputText(employeeForm("first_name"), '_label -> "First name", '_showConstraints -> false)
    @helper.inputText(employeeForm("last_name"), '_label -> "Last name", '_showConstraints -> false)
    @helper.inputText(employeeForm("position"), '_label -> "Position", '_showConstraints -> false)

    <div>
      <button type="submit">Add Employee</button>
    </div>

    @employeeForm.errors.map { error =>
      <p style="color: red;">Error: @error.message</p>
    }
  }

  <a href="/">Back to index</a>
}