@import play.filters.csrf.CSRF
@import helper._

@(employees: Seq[models.EmployeeModel], employeeForm: Form[models.EmployeeModel])(implicit request: RequestHeader, messages: Messages)

@main("All Employees") {
  <h1>All Employees</h1>
  <table>
    @for(employee <- employees) {
      <tr><td>@employee.first_name @employee.last_name, @employee.position, @employee.hire_date, @employee.end_date</td></tr>
    }
  </table>

  <h2>Add New Employee</h2>

  @helper.form(action = routes.EmployeeController.submitInsertForm()) {
    @helper.CSRF.formField
    @helper.inputText(employeeForm("first_name"), Symbol("_label") -> "First name", Symbol("_showConstraints") -> false)
    @helper.inputText(employeeForm("last_name"), Symbol("_label") -> "Last name", Symbol("_showConstraints") -> false)
    @helper.inputText(employeeForm("position"), Symbol("_label") -> "Position", Symbol("_showConstraints") -> false)

    @helper.input(employeeForm("hire_date")) { (id, name, value, args) =>
      <input type="date" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }

    @helper.input(employeeForm("end_date")) { (id, name, value, args) =>
      <input type="date" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }

    <div>
      <button type="submit">Add Employee</button>
    </div>

    @employeeForm.errors.map { error =>
      <p style="color: red;">Error: @error.message</p>
    }
  }

  <a href="/">Back to index</a>
}